/* Passkey Scrollbar */
.passkey-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
.passkey-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.passkey-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.passkey-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}
